@{
    ViewBag.Title = "Home";
}

@*<script type="text/javascript">
    $(document).ready(function () {
        $("p").click(function () {
            alert("Hi!");
        });
    });
</script>*@

<h2>Andrew's Home Page</h2>
<nav class="links">
    <h3>Links</h3>
    <ul>
        <li><a href="http://www.google.com">About</a></li>
        <li><a href="http://www.google.com">Blog</a></li>
        <li><a href="http://www.google.com">Documents</a></li>
    </ul>
</nav>

<section class="body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac convallis augue. Quisque vitae nibh mauris. Pellentesque laoreet, elit eget volutpat venenatis, metus mauris porta libero, id scelerisque felis nisl ac turpis. Duis lacinia lorem at justo venenatis at eleifend sapien ornare. Morbi quam mi, commodo nec lobortis nec, porta non urna. In ante purus, congue a lobortis id, aliquet ac libero. Integer condimentum malesuada justo at mollis. Vivamus mattis tincidunt pulvinar. Fusce ullamcorper mattis nibh, at tempor augue imperdiet vel. Curabitur in quam nisl, eu dictum sapien. Donec suscipit, erat sit amet laoreet sagittis, odio nulla lobortis diam, a feugiat sapien turpis non ipsum. Proin est velit, fermentum quis gravida eu, ullamcorper eu arcu. Quisque in ipsum purus. Morbi adipiscing cursus tellus a commodo.</p>

    <p>Proin non purus et lacus consectetur placerat. Praesent non vulputate turpis. Donec et dolor augue. Vestibulum pretium nulla eu purus convallis bibendum molestie ipsum fringilla. Donec nec libero mauris. Cras tincidunt fringilla placerat. Curabitur imperdiet varius felis egestas condimentum. Morbi sagittis commodo ipsum id porttitor. Aenean neque ligula, pellentesque ut consectetur varius, imperdiet ac purus. Cras eleifend nulla eget massa porta porttitor. Pellentesque malesuada nibh sit amet urna consequat ullamcorper. Donec sed risus est. Sed vel ligula lacus. Duis id mi nec tellus viverra rutrum.</p>
</section>    
<div></div>
